#
# Config for using NanoPi Neo expansion header
#
# This is best used with a fast enough buffer but also
# is suitable for direct connection if the target voltage
# matches RPi's 3.3V and the cable is short enough.
#
# Do not forget the GND connection, pin 6 of the expansion header.
# 
# (c) Sergey Gruzdev

adapter driver allwinner_h3

allwinner_h3 peripheral_base 0x20000000

# Transition delay calculation: SPEED_COEFF/khz - SPEED_OFFSET
# These depend on system clock, calibrated for stock 700MHz
# bcm2835gpio speed SPEED_COEFF SPEED_OFFSET
allwinner_h3 speed_coeffs 113714 28

# Each of the JTAG lines need a gpio number set: tck tms tdi tdo
# Header pin numbers: 1 0 3 2 
allwinner_h3 jtag_nums 1 0 3 2

# Each of the SWD lines need a gpio number set: swclk swdio
# Header pin numbers: 1 0
allwinner_h3 swd_nums 1 0

# If you define trst or srst, use appropriate reset_config
# Header pin numbers: TRST - 26, SRST - 18

# bcm2835gpio trst_num 7
# reset_config trst_only

# bcm2835gpio srst_num 24
# reset_config srst_only srst_push_pull

# or if you have both connected,
# reset_config trst_and_srst srst_push_pull
